body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background:url(https://source.unsplash.com/random/) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.header-text{
  padding: 10px;
  color: white;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#signIn-box {
  opacity: 0.9;
}

.overlay{
  background-size: cover; 
  height: 100vh;
  background: rgba(0,0,0,0.6);
  background-attachment: fixed;
  overflow: scroll;
}

#transparent90{
  opacity: 0.9;
}

#transparent80{
  opacity: 0.8;
}

.main {
  text-align: center;
}

.content {
  padding-top: 50%;
  transform: translate(0, -50%);
  text-shadow:
  -1px -1px 1px black,
  1px -1px 1px black,
  -1px 1px 1px black,
  1px 1px 1px black;
}
.navheader {
    padding: 0px 0px 0px 5px;
}

.edit {
    position: absolute !important;
}

#modal1 {
    width: 75% !important;
    max-height: 80vh !important;
}

#modal2 {
    width: 85% !important;
    max-height: 100%;
}

.closeModal{
  margin: 10px !important;
  float: right;
}

.pointer{
  cursor: pointer;
}

.hide{
  display: none
}

.card-body{
  max-height: 100% !important;
  overflow: auto !important;
}

.loginmargin{
  padding: 15px 0px 0px 0px;
}

#logincontainer{
  margin: 75px 0px 0px 0px ;
  opacity: 50%;
}
.transparent75{
  opacity: 75%;
}

#dashboardBG{
  height: 90vh;
  overflow-y: scroll;
}

#documentPage{
  height: 90vh;
  overflow-y: scroll;
}

.maintab{
  max-width:80% !important;
}

#tab-transparent{
  background: rgba(54, 25, 25, 0);
}

.list-badge{
  margin-right: 105px
}

.wrap {
  margin: 0 auto;
  width: 1000px;
}

.logo {
  margin-top: 50px;

  h1 {
    color: #8f8e8c;
    font-size: 200px;
    margin-bottom: 1px;
    text-align: center;
    text-shadow: 1px 1px 6px #fff;
  }

  p {
    color: rgb(228, 146, 162);
    font-size: 20px;
    margin-top: 1px;
    text-align: center;

    span {
      color: #90ee90;
    }
  }
}

.sub a {
  color: #ffffff;
  background: #8f8e8c;
  text-decoration: none;
  padding: 7px 120px;
  font-size: 13px;
  font-family: arial, serif;
  font-weight: bold;
  -border-radius: 0.1em;
}

.footer {
  color: #8f8e8c;
  position: absolute;
  right: 10px;
  bottom: 10px;

  a {
    color: rgb(228, 146, 162);
  }
}

.pagination li a {
  cursor: pointer;
  color: #999;
}

.center{
  margin: auto;
}

.user-details{
  margin: 105px 0px 0px 0px ;
}

@media only screen and (min-width: 1063px) {
  nav a.button-collapse {
    display: none;
  }
}

@media only screen and (max-width: 1062px) {
  nav .brand-logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  nav .brand-logo.left, nav .brand-logo.right {
    padding: 0;
    -webkit-transform: none;
            transform: none;
  }
  nav .brand-logo.left {
    left: 0.5rem;
  }
  nav .brand-logo.right {
    right: 0.5rem;
    left: auto;
  }
}
